# Data
data/
models/
*.pkl
*.joblib
*.h5

# IDE
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
my_env/
venv/
.env
.venv

# Jupyter
.ipynb_checkpoints/

# test informatio 
.coverage
.coverage.SaronZeleke.4244.XrAKLqex
.coverage.SaronZeleke.7260.XaLOETzx
.coverage.SaronZeleke.12800.XcfNuPFx
.coverage.SaronZeleke.18024.XXwuUzFx
.coverage.SaronZeleke.20048.XozePDBx
.__pycache__/
